/DesignPatterns/Singleton/.idea/
/DesignPatterns/Singleton/out/
/DesignPatterns/Singleton/Singleton.iml
/DesignPatterns/FactoryMethod/.idea/
/DesignPatterns/FactoryMethod/out/
/DesignPatterns/FactoryMethod/FactoryMethod.iml
/DesignPatterns/Prototype/.idea/
/DesignPatterns/Prototype/out/
/DesignPatterns/Prototype/Prototype.iml
