/DesignPatterns/Singleton/.idea/
/DesignPatterns/Singleton/out/
/DesignPatterns/Singleton/Singleton.iml
/DesignPatterns/FactoryMethod/.idea/
/DesignPatterns/FactoryMethod/out/
/DesignPatterns/FactoryMethod/FactoryMethod.iml
/DesignPatterns/Prototype/.idea/
/DesignPatterns/Prototype/out/
/DesignPatterns/Prototype/Prototype.iml
/DesignPatterns/Builder/.idea/
/DesignPatterns/Builder/out/
/DesignPatterns/Builder/Builder.iml
/DesignPatterns/ChainOfResponsibility/.idea/
/DesignPatterns/ChainOfResponsibility/out/
/DesignPatterns/ChainOfResponsibility/ChainOfResponsibility.iml
/DesignPatterns/Memento/.idea/
/DesignPatterns/Memento/out/
/DesignPatterns/Memento/Memento.iml